.timeline {
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

	font-family: 'Roboto', sans-serif;
	font-size: 4rem;

	@apply font-bold;
	@apply w-fit h-full m-auto mb-16 mt-8;

	tr {
		@apply border-b;

		&:first-child {
			font-size: 6rem;
		}

		&:last-child {
			@apply border-none;
		}
	}

	td {
		@apply border-r p-6;
		@apply text-center;

		&:last-child {
			@apply border-none;
		}
	}
}