---
import Footer from "../components/Footer.astro";
import Header from "../layouts/Header.astro";

import "../styles/counter.scss";
import "../styles/spinner.scss";
---

<script>
	fetch("/incident-counter/incidents.json")
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {
			const counter = document.getElementsByClassName("counter")[0];
			if (counter !== null) {
				if (data.incidents.length == 0) {
					counter.textContent = "∞";
				} else {
					const incident_date = new Date(
						data.incidents[data.incidents.length - 1].time * 1000
					);
					const current_date = new Date();
					const days = Math.floor(
						(current_date.getTime() - incident_date.getTime()) /
							(1000 * 3600 * 24)
					);
					counter.textContent = days.toString();
				}
			}
		})
		.then(function (error) {
			console.log(error);
		});
</script>

<Header title="Days since last INCIDENT">
	<body>
		<div class="counter">
			<svg class="spiner h-1/4 aspect-square" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
				<path d="M304 48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zm0 416c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM48 304c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm464-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM142.9 437c18.7-18.7 18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zm0-294.2c18.7-18.7 18.7-49.1 0-67.9S93.7 56.2 75 75s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zM369.1 437c18.7 18.7 49.1 18.7 67.9 0s18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9z"></path>
			</svg>
		</div>
	</body>
	<Footer/>
</Header>
