---
import Footer from "../components/Footer.astro";
import Header from "../layouts/Header.astro";

import "../styles/counter.scss";
import "../styles/spinner.scss";
import "../styles/timeline.scss";
---

<script>
	fetch("/incident-counter/incidents.json")
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {
			const table = document.getElementById("table");
			if (table !== null) {
				if (data.incidents.length == 0) {
					table.textContent = "Such Empty. Much Wow.";
				} else {
					const list = document.createElement("table");
					list.className = "timeline";

					// const span = document.createElement("span");
					// span.textContent = "World events since timeline split:";
					// list.appendChild(span);

					var row = document.createElement("tr");
					var col = document.createElement("td");
					col.innerHTML = "Date";
					row.appendChild(col);
					col = document.createElement("td");
					col.innerHTML = "Handler";
					row.appendChild(col);
					col = document.createElement("td");
					col.innerHTML = "Count";
					row.appendChild(col);
					col = document.createElement("td");
					col.innerHTML = "Severity";
					row.appendChild(col);

						list.appendChild(row);

					for (var i = 0; i < data.incidents.length; i++) {
						var row = document.createElement("tr");

						const date = new Date(data.incidents[i].time * 1000);
						const id = data["id-map"][data.incidents[i].id - 1];
						const count = data.incidents[i].count;
						const severity  = data.incidents[i].severity;

						var col = document.createElement("td");
						col.innerHTML = date.toLocaleDateString(navigator.languages[0], { year: "2-digit", month: "2-digit", day: "2-digit" });
						row.appendChild(col);
						col = document.createElement("td");
						col.innerHTML = id;
						row.appendChild(col);
						col = document.createElement("td");
						col.innerHTML = count;
						row.appendChild(col);
						col = document.createElement("td");
						col.innerHTML = severity.toUpperCase();
						row.appendChild(col);

						list.appendChild(row);
					}
					const body = document.getElementById("body");
					if (body !== null)
						body.replaceChild(list, table);
					table.className += "flex flex-col justify-start items-center";
				}
			}
		})
		.then(function (error) {
			console.log(error);
		});
</script>

<Header title="World events since timeline split">
	<body id="body">
		<div class="counter" id="table">
			<svg class="spiner w-1/2 h-1/2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<!--! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
				<path d="M304 48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zm0 416c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM48 304c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm464-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM142.9 437c18.7-18.7 18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zm0-294.2c18.7-18.7 18.7-49.1 0-67.9S93.7 56.2 75 75s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zM369.1 437c18.7 18.7 49.1 18.7 67.9 0s18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9z"></path>
			</svg>
		</div>
	</body>
	<Footer/>
</Header>